* {
    color: white;
    font-family: 'Nunito', sans-serif;
}


body {
    margin: 0px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

section{
    flex-grow: 1;
}

/*INDEX*/
.container {
    text-align: center;
}


.logo img {
    width: 300px;

}

/*NABEGAZIO BARRA */
.nabegaziobarra ul {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px; 
    list-style: none;
  }
  
  .nabegaziobarra ul li a {
    text-decoration: none;
    font-size: 1.25vw;
    border: 1px solid transparent; 
    border-radius: 20px; 
    background-color: white;
    color: black;
    padding: 10px 20px; 
    transition: all 0.3s ease; 
  }
  
  .nabegaziobarra ul li a:hover {
    color: rgb(32, 185, 45); 
    border-color: rgb(32, 185, 45); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  }

/*INDEX SECTION*/
section h2 {
    padding-top: 20px;
    text-align: center;
}


.container2 {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
  }
  
  .artistak {
    flex: 1 0 250px; 
    margin: 10px; 
    text-align: center; 
  }
  
  .artistak img {
    max-width: 100%; 
    height: auto; 
    border-radius: 50%;
  }


section h3 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


section .container2 .info {
    padding-left: 40px;
    padding-right: 40px;
}


section .info-index {
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

/*hautatzaile konplexu*/
section .info-index .lehenletrabeltz::first-letter{
    font-weight: bold;
}


section .container2 .info h2 {
    text-align: center;
}


section .container2 .info p {
    text-align: center;
}


footer {
    bottom: 0; 
    width: 100%; 
    background-color: rgb(34, 34, 36);
    padding: 20px 0; 
    text-align: center;
}

.container3 {
    display: flex;
    justify-content: space-between;
    max-width: 1200px; 
    margin: 0 auto; 
}

footer h4 {
    text-align: center;
}

footer p {
    text-align: center;
}

footer .info-footer ul,
footer .komunitatea ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer .saresozial {
    padding-right: 50px;
    text-align: center;
}

/* PANTAILA TXIKIETARAKO */



@media screen and (max-width: 820px) {
    body {
        font-size: 14px;
    }


    .container {
        text-align: center;
        padding: 20px;
    }


    .logo img {
        width: 80%;
    }


    .nabegaziobarra ul {
        display: block;
        text-align: center;
        padding: 10px;
    }


    .nabegaziobarra ul li a {
        display: block;
        padding: 10px 0;
        font-size: 16px;
    }


    section img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }


    section .container2 .info {
        padding: 20px;
    }


    footer .container3 {
        flex-direction: column;
        padding: 20px;
    }
}

@media screen and (max-width: 1024px) {
    body {
        font-size: 14px;
    }


    .container {
        text-align: center;
        padding: 20px;
    }


    .logo img {
        width: 80%;
    }


    .nabegaziobarra ul {
        display: block;
        text-align: center;
        padding: 10px;
    }


    .nabegaziobarra ul li a {
        display: block;
        padding: 10px 0;
        font-size: 16px;
    }


    section img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }


    section .container2 .info {
        padding: 20px;
    }


    footer .container3 {
        flex-direction: column;
        padding: 20px;
    }
}

/* HASI SAIOA */



.formularioaH {
    font-family: 'Nunito', sans-serif;
    width: 350px;
    height: 340px;
    background: rgb(82, 83, 82);
    margin: auto;
    margin-top: 100px;
    box-shadow: 7px 13px 37px rgb(51, 172, 67);
    padding: 20px 30px;
    border-top:  rgb(224, 224, 230);
    color: rgb(237, 237, 243);
    margin-bottom: 50px;
    box-sizing: border-box;
}
  
  
  /* Formularioan tituluaren estiloa aldatzeko */
  .formularioaH h5 {
      margin: 0%;
      text-align: center;
      height: 40px;
      margin-bottom: 30px;
      border-bottom: 1px solid;
      font-size: 20px;
      color:white;
  }
  
  /* Idazteko espazioak konfiguratzeko */
  .control {
      width: 100%;
      border: 1px  rgb(4, 4, 24);
      margin-bottom: 15px;
      padding: 15px 10px;
      background: #000000;
      font-size: 14px;
      font-weight: bold;
      color: white;
  }
  
  /* Botoiaren itxura */
  .botoia {
      width: 100%;
      height: 40px;
      background:  rgb(56, 199, 63);
      border: none;
      color: rgb(255, 255, 255);
      margin-bottom: 16px ;
      font-weight: bold;
      cursor: pointer;
  }
  
  /* "Ez dut pasahitza gogoratzen" itxura aldatzeko */
  .formularioaH p {
      height: 40px;
      border-bottom: 1px solid;
  }
  .formularioaH a {
      color: white;
      text-decoration: none;
      font-size: 14px;
  }
  .formularioaH p:hover {
      text-decoration: underline;
  }

  .container4 {
    display: inline-block;
    width: 200px;
    margin: 10px;
    padding: 10px;
    background-color: #6b6969;
    text-align: center;
    border-radius: 10px; 
    box-shadow: 0 0 10px #ccc;
  }

.container4 img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

  /*DEPARTAMENTU ORRIA*/
  .container-departments {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.department {
    display: inline-block;
    width: 200px;
    margin: 10px;
    padding: 10px;
    background-color: #6b6969;
    text-align: center;
    border-radius: 10px; 
    box-shadow: 0 0 10px #ccc;
}

.container5 {
    display: flex;
    justify-content: center;
    align-items: center;
}


.langile_filtratu{
    display: inline-block;
    width: 200px;
    margin: 10px;
    padding: 10px;
    background-color: #6b6969;
    text-align: center;
    border-radius: 10px; 
    box-shadow: 0 0 10px #ccc;
}

.langile_filtratu img{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px; 
}

button{
    width: 100%;
    height: 40px;
    background:  rgb(12, 14, 12);
    border: 1px solid transparent; 
    border-radius: 20px; 
    color: rgb(255, 255, 255);
    margin-bottom: 16px ;
    font-weight: bold;
    cursor: pointer;
}

.container-ardurak{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.ardura{
    display: inline-block;
    width: 200px;
    margin: 10px;
    padding: 10px;
    background-color: #6b6969;
    text-align: center;
    border-radius: 10px; 
    box-shadow: 0 0 10px #ccc;  
}